html{
    box-sizing: border-box;
    font-size: 10px;
    height: 100%;
}
*,*:after,*:before{
    box-sizing: inherit;
}
body{
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: "vazir";
}