{% extends "master.html" %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
<div class='container d-flex justify-content-center'>
    <div class='row'>
        <div class='col-md-12' style="margin-top:5rem">
            <h1>this is the search result that we have</h1>
            {% if results %}
                {% for re in results %}
                <div class='col-md-4'><div class="card" style="width: 18rem;margin-top:2rem">
                    <img src="{% static "images/pandas.png" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{re.title}}</h5>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-{{data.slug}}">
                        Actions
                    </button>
                    <a href="{% url "index"%}" type="button" class="btn btn-warning">Home</a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-{{data.slug}}" tabindex="-1" aria-labelledby="exampleModalLabel-{{data.slug}}" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Choose an Action</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            choose between the below actions , the plot is for showing the all the plots that is exists
                            for this dataframe and the dataframe is for showing the dataframe that is exists for seeing 
                            you can choose between them for using...
                            </div>
                            <div class="modal-footer">
                            <a href="{% url "show_plot" slug=re.slug %}" type="button" class="btn btn-primary">Plots</a>
                            <a href="{% url "data-frame" slug=re.slug %}" type="button" class="btn btn-primary">Dataframe</a>
                            </div>
                        </div>
                        </div>
                    </div>
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        Nothing found .... , back to <a href="{% url "index" %}" class="alert-link">Home</a>
                    </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}