{% extends "master.html" %}

{% block title %}Chart{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>DataFrame</h1>
            <div class="data-info">
                <pre>{{ data_info }}</pre>
            </div>
            <br><br>
        
            {{to_html|safe}}
            <br><br>
            <div class="describe">
                <pre>{{ describe }}</pre>
            </div>
            <br><br>
            {% comment %} <div>
                <img src="data:image/png;base64,{{ displot }}" />
                <br><br>
                <img src="data:image/png;base64,{{ catplot }}" />
                <br><br>
                <img src="data:image/png;base64,{{ hisplot }}" />
                <br><br>
                <img src="data:image/png;base64,{{ scatter }}" />


            </div> {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}