{% extends "master.html" %}

{% block title %}Chart{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h1>DataFrame</h1>
            <div class="data-info">
                <pre>{{ data_info }}</pre>
            </div>
            <br><br>

            <br><br>
            <div class="describe">
                <pre>{{ describe }}</pre>
            </div>
            <br><br>
            <div>
                <form action='{% url "data-frame" %}' method='post' class="p-4 border rounded shadow-sm bg-light">
                    {% csrf_token %}
                    <h4 class="mb-3">Select Columns</h4>
                    <div class="form-group">
                        {% for column in data_column %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ column }}" id="flexCheck{{ forloop.counter }}" name="columns[]">
                                <label class="form-check-label" for="flexCheck{{ forloop.counter }}">
                                    {{ column }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-warning mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}