{% extends "master.html" %}  

{% block title %}  
Home  
{% endblock %}  

{% block content %}  
<div class='container mt-5'>  
    <div class='row'>  
        <div class='col-md-12 text-center'>  
            <h1 id='head-file'>  
                Welcome to this Data Analysis App  
            </h1>  
        </div>  
    </div>  

    <div class='row mt-4'>  
        <div class='col-md-12 text-center'>  
            <h2>Choose an Action</h2>  
            <div class="btn-group mt-3" role="group" aria-label="Basic example">  
                <a type="a" class="btn btn-primary">Chart</a>  
                <a type="a" class="btn btn-secondary">Action 2</a>  
                <a type="a" class="btn btn-success">Action 3</a>  
                <a type="a" class="btn btn-danger">Action 4</a>  
                <a type="a" class="btn btn-warning">Action 5</a>  
            </div>  
        </div>  
    </div>  

    <div class='row mt-4'>  
        <div class='col-md-12 text-center'>  
            <img src="data:image/png;base64,{{ chart }}" alt="Sine Wave Chart" class="img-fluid mt-3">  
        </div>  
    </div>  
</div>  

{% endblock %}