{% extends "master.html" %}

{% block title %}Plot{% endblock %}

{% block content %}
{% comment %} <img src="data:image/png;base64,{{ displot }}"/> {% endcomment %}
<div class="container">
    <div class="row">
        {% for method, length in methods.items %}
        <div class="col-md-4">
            <div class="card" style="margin: 10px; background-color: #e0f7fa;">
                <div class="card-body">
                    <h5 class="card-title">{{ method }}</h5>
                    <p class="card-text">Length is: {{ length }}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    {% endfor %}
        
    </div>
</div>
{% endblock %}